.DS_Store
node_modules
npm-debug.log
chromedriver.log
doc/sequence-diagrams/*.png
*.log
*.iml
.vscode
/browsertime-results/
.tern-project
.Python
.tox/
bin/activate*
bin/easy_install*
bin/pip*
bin/python*
bin/tox*
bin/virtualenv
bin/wheel
browsertime.egg-info/
*.pyc
include/
lib/python*
