language: node_js
node_js:
- '4'
- '6'
env:
  - CXX=g++-4.8
sudo: required
dist: trusty
cache:
  apt: true
  pip: true
  directories:
    - node_modules
    - ffmpeg-2.1.3-64bit-static
    - $HOME/.local/lib/python2.7/site-packages
    - /usr/local/lib/python2.7/site-packages
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - google-chrome
    packages:
    - g++-4.8
    - google-chrome-stable
    # packages for visual metrics
    - ipython
    - ipython-notebook
    - libjpeg-dev
    - libatlas-base-dev
    - gfortran
    - python
    - python-dev
    - python-imaging
    - python-numpy
    - python-scipy
    - python-matplotlib
    - python-pandas
    - python-pip
    - python-sympy
    - python-nose
    - xz-utils
  firefox: "46"
before_install:
- pip install --user --upgrade pip
- pip --version
- pip install --user Pillow
- pip install --user pyssim
- ls -la /usr/local/lib/
- pip show Pillow
- pip show pyssim
- mkdir /tmp/ffmpeg
- wget http://johnvansickle.com/ffmpeg/releases/ffmpeg-release-64bit-static.tar.xz -O /tmp/ffmpeg/download-ffmpeg.tar.xz
- tar -xf /tmp/ffmpeg/download-ffmpeg.tar.xz -C /tmp/ffmpeg/ --strip=1
- export PATH=$PATH:/tmp/ffmpeg
- ffmpeg -version
- /usr/bin/python --version
- python --version
- which python
- firefox --version 2>/dev/null
- google-chrome --product-version
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

script:
- ./vendor/visualmetrics.py --check
- npm run lint
- npm test
- node ./bin/browsertime.js -b firefox -n 2 --timeouts.browserStart=60000 http://www.browsertime.net --preTask test/prepostscripts/preSample.js --postTask test/prepostscripts/postSample2.js --connectivity.profile cable --connectivity.engine tc
- node ./bin/browsertime.js -b chrome --skipHar -n 2 --connectivity.profile cable --timeouts.browserStart=60000 https://www.sitespeed.io
- node ./bin/browsertime.js -b chrome -vv --viewPort=640x480 --experimental.video -n 1 https://www.sitespeed.io
notifications:
  slack:
    secure: Bo/bgmtFVGj6I2XnkvERfGnoM+t73WQSsP5eMlGM0jhUSKPqIc7Hf2zjYil3amMY3awFnoA6prILcMBzyUURj3jc5VRsWBCf6aQZ3bM+xzAcuTMcoiAKS7Ru1HQj1WY8G7VycDWuNeF8dCT0kt2QhcSneAUQ0qqyclWjcOK22kw=
