name: Test Firefox/Chrome beta
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'
    - name: Install Firefox beta
      uses: browser-actions/setup-firefox@latest
      with:
        firefox-version: 'latest-beta'
    - name: Install Chrome beta 
      uses: browser-actions/setup-chrome@latest
      with:
        chrome-version: beta
    - name: Install Browsertime
      run: npm ci
    - name: Install dependencies
      run: |
        sudo apt-get install net-tools -y
        sudo snap install ffmpeg
        python -m pip install --upgrade --user pip
        python -m pip install --upgrade --user setuptools
        python -m pip install --user pyssim
        python -m pip --version
        python -m pip show Pillow
        python -m pip show pyssim
        python -m pip install virtualenv
        sudo modprobe ifb numifbs=1
    - name: Browser versions
      run: |
        google-chrome --version
        firefox --version
    - name: Test Firefox Beta
      run: ./bin/browsertime.js -b firefox -n 1 https://www.sitespeed.io --connectivity.profile cable --connectivity.engine throttle --xvfb 
    - name: Test Chrome Beta
      run: ./bin/browsertime.js -b chrome -n 1 https://www.sitespeed.io --connectivity.profile cable --connectivity.engine throttle --xvfb 