name: OSX Chrome and Firefox
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: macos-13
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - name: Install browsertime
      run: npm ci
    - name: Install python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11' 
    - name: Install dependencies
      run: |
        brew update
        brew install google-chrome
        brew install --cask firefox
    - name: Test Chrome 
      run: ./bin/browsertime.js -b chrome -n 1 https://www.sitespeed.io/
    - name: Test Firefox
      run: ./bin/browsertime.js -b firefox -n 1 https://www.sitespeed.io/
  