name: Unit tests
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        browser: ['chrome', 'firefox']
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
    - name: Install latest Chrome
      run: |
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - 
        sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
        sudo apt-get update
        sudo apt-get --only-upgrade install google-chrome-stable
        google-chrome --version
    - name: Install Firefox
      uses: browser-actions/setup-firefox@latest
    - name: Install Browsertime
      run: npm ci
    - name: Run unit tests
      uses: GabrielBB/xvfb-action@v1.6 
      with:
        run: export BROWSER=${{ matrix.browser }} && npm test
